{% extends "Admin/base.html" %}

{% block title %}
    {{title}}
{% endblock %}

{% block content %}

<div>{{info|raw}}</div>
<div class='table-responsive'>
    <table id='admin_table' class='table table-striped'>
        <thead>
        <tr>
            <th>№п/п</th>
            <th>Складской код</th>
            <th>Название</th>
        </tr>
        </thead>
        <tbody>
            {% set index = 1 %}
            {% for depot_store in depot_stores %}
                <tr>
                    <td>{{index}}</td>
                    <td>{{depot_store.id}}</td>
                    <td>{{depot_store.name}}</td>
                </tr>
                {% set index = index + 1 %}
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}