RewriteEngine On

RewriteCond %{HTTP:X-Forwarded-Proto} !https
RewriteRule ^ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301,NE]

RewriteRule ^public/css/(.+) https://site.ru/css/$1 [R=301,L]
RewriteRule ^public/images/(.+) https://site.ru/images/$1 [R=301,L]
RewriteRule ^public/js/(.+) https://site.ru/js/$1 [R=301,L]

RewriteRule ^(.+)/$ /$1 [R=301,L]

RewriteCond %{HTTP_HOST} ^www\.(.*)$
RewriteRule ^(.*)$ https://%1/$1 [L,R=301]

RewriteBase /
RewriteCond %{REQUEST_FILENAME}  !-f
RewriteCond %{REQUEST_FILENAME}  !-d
RewriteRule ^(.*)$ index.php?$1 [L,QSA]