<div style="padding-top: 24px;">
    <div class="container">
        <section class="section content__section brands">
            {% if (show_title == true) %}
            <h2 class="section__title">Товары по брендам</h2>
            {% endif %}
            <div class="row brands__list">
                {% for brand in brands %}
                <div class="brands__item col-6 col-xl-2 col-lg-4 col-md-4 col-sm-4">
                    <a href="/brendy/{{brand.url}}" title='Открыть товары бренда "{{brand.title}}"'>
                        <img src="/images/brands/{{brand.path}}" alt="{{brand.title}}" class="brands__image">
                    </a>
                </div>
                {% endfor %}
            </div>
        </section>
    </div>
</div>